% import x
<div
  id="{{user['_key']}}"
  class="user"
>
  <div>{{user["_key"]}}</div>
  <form id="existing_user">
    <input
      name="{{user['_key'] }}_first_name"
      value="{{user['first_name']}} "
      mix-blur
      mix-data="#existing_user"
      mix-put="user/update/{{user['_key']}}"
    />
    <input
      name="{{user['_key'] }}_last_name"
      value="{{user['last_name']}}"
      mix-blur
      mix-data="#existing_user"
      mix-put="user/update/{{user['_key']}}"
    />
  </form>
  <button
    mix-delete="/users/delete/{{user['_key']}}"
    mix-default="Delete"
    mix-await="Deleting..."
  >
    Delete
  </button>
</div>
